{% extends 'base.html' %}

{% block head %}
<title>WorldApp</title>
{% endblock %}

{% block body %}
{% if session["admin_mode"] == True %}
  <br>
  <h1>Admin Panel</h1>
  <br>
  <br>
  <div>
    <b><p style="text-align: center;">Upload data from CSV:</p></b><a href="/admin/upload" class="btn btn-danger" role="button">Upload</a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <a href="/" class="btn btn-danger" role="button">Home</a>
  <a href="/admin/logout" class="btn btn-danger" role="button">Log Out</a>

{% else %}
  <br>
  <h1>You're not authorized</h1>
  <br>
  <a href="/admin/logout" class="btn btn-danger" role="button">Log Out</a>
{% endif %}

{{ message }}

{% endblock %}