#Exported from Terraform
mysql_host: ${mysql_host}
mysql_root_user: ${mysql_root_user}
mysql_servername: ${mysql_servername}
appgw_public_ip: ${appgw_public_ip}
appgw_private_ip: ${appgw_private_ip}
appgw_private_port: ${appgw_private_port}
redis_url: ${redis_url}
