[bastion]
${bastionip}

[client]
%{ for ip in clientips ~}
${ip}
%{ endfor ~}

[api]
%{ for ip in apiips ~}
${ip}
%{ endfor ~}

[admin]
%{ for ip in adminips ~}
${ip}
%{ endfor ~}

[nodes:children]
client
api
admin

[nodes:vars]
ansible_ssh_common_args= '-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ProxyCommand="ssh -o PreferredAuthentications=publickey -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p -q azureuser@${bastionip}"'

